@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://css.gg/css?=|check');
@import url('https://css.gg/trash.css');
@import url('https://css.gg/math-plus.css');

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-red: #df6b6b;
$color-blue: #6bbedf;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: roboto;
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(10deg, #236a7a, #fab1b1cb);
}

header {
    font-size: 2rem;
}

h1 {
    white-space: pre;
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: hidden;  
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
