@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://css.gg/css?=|check');
@import url('https://css.gg/trash.css');
@import url('https://css.gg/math-plus.css');

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-red: #df6b6b;
$color-blue: #6bbedf;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  min-height: 100vh;
  color: white;
  background: url(https://images.unsplash.com/photo-1482440308425-276ad0f28b19);
  background-size: cover;
  //background-image: linear-gradient(10deg, #0e687c, #a01f1fb4);
}

header {
    font-size: 3.0rem;
    font-family: 'Paytone One', sans-serif;
}

h1 {
    white-space: pre;
    margin-top: 80px;
    margin-bottom: 1px;
    overflow: hidden;  
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 400px) {

    form {
        justify-content: center;
        align-items: center;
    }

    form input {
        padding: 2rem;

    }
    form button {
       width: 30%;
       
    
        }
}

@media only screen and (max-width: 400px) {
    header {
        font-size: 3rem;
    }
    h1 {
        margin-bottom: -1rem;

    }
}

@media only screen and (max-width: 800px) {
    header {
        font-size: 3rem;
    }
}

