#header {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}
#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #header {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    #header {
        font-size: 1.5rem;
    }
}