.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list {
    min-width: 30%;
    list-style: none;
}

.task {
    padding: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.212);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all .455s ease;
  }

.task li {
    flex: 1;
}
